
@import url('./reset.css');

/* Overriding a specific component styles */
/* Overrides the modal component default styling on the close button */
#test-modal::part(modal-close):hover {
    background: red;
}

/* Overrides the custom properties defined on the modal component */
#test-modal {
    --backdrop: #00009966;
    --background: #cceeee;
}