
@import url('./reset.css');

/* Overriding a specific component instance's styles */
/* Overrides the modal component default styling on the close button */
.colored::part(modal-close):hover {
    background: red;
}

/* Overrides the custom properties defined on the modal component */
.colored {
    --backdrop: #00009966;
    --background: #cceeee;
}