
@import url('./reset.css');

/* Overriding a specific component instance's styles */
/* Overrides the modal component default styling on the close button */
.colored::part(modal-close):hover {
    background: red;
}

/* Overrides the custom properties defined on the modal component */
.colored {
    --backdrop: #00009966;
    --background: #cceeee;
}

.colored::part(modal-footer) {
    color: white;
    background: firebrick;
}

/* Styling slotted components */
.modal-title {
    width: 100%;
    text-align: center;
}

.modal-content, #cube-wrapper,
css3d-cuboid > div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#cube-wrapper {
    width: 15em;
    height: 15em;
    perspective: 100vw;
    /* border: 1px solid black; */
}

css3d-cuboid {
    animation: rotate 10s linear infinite;
}

@keyframes rotate {
    from { transform: rotate3d(0); }
    to { transform: rotate3d(1,1,0, 360deg);}
}

css3d-cuboid > div {
    background-color: #aaaaaaaa;
    border: 1px solid #aaa;
    width: 100%;
    height: 100%;
}

.colored css3d-cuboid > div {
    background-color: #aa0000aa;
    border: 1px solid #aa0000;
}